<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <!-- <script src="../assets/js/p5sketches/sketch1.js" charset="utf-8"></script>
    <script src="../assets/js/p5sketches/scene2.js" charset="utf-8"></script>
    <script src="../assets/js/p5sketches/scene3.js" charset="utf-8"></script> -->
  </body>

</html>
